canvas {
  border: 1px solid black;
}

body {
  text-align: center;
  background-color: #0c78de;
  font-family: 'Bebas Neue', cursive;
}

#start-button {
  display: block;
  text-align: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Bebas Neue', cursive;
}

p {
  color: #e6edf3;
  font-size: 24px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#startImg {
  position: absolute;
  left: 0;
  width: 1000px;
  height: 599px;
  top: 10px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#gameoverImg {
  display: none;
  position: absolute;
  left: 0;
  width: 1000px;
  height: 599px;
  top: 10px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#playagain-button {
  display: none;
  text-align: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Bebas Neue', cursive;
}
