canvas {
  border: 1px solid black;
}

body {
  text-align: center;
}

/* #start-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
} */
